@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Ubuntu+Mono&display=swap');

/*-- Styles across site --*/
body {
    font-family: 'Ubuntu Mono', monospace;
    background-color:#f39ada;
} 

.flashes h4 {
    line-height: 1.5;
}


/*-- Backgorund colour of sidenav to match site --*/

.sidenav {
    background-color: #fe95e0;
}

/*-- Logo and page header font --*/
nav .brand-logo {
    font-family: 'Press Start 2P', cursive;
    font-size: 1.5rem;
 
}

.page-topper  {
    font-family: 'Press Start 2P', cursive;
    font-size: 3rem;
 
}


/*Code for full background image was used from 
https://css-tricks.com/perfect-full-page-background-image/*/
.background-img {
    background: url("../images/landscapetapes.jpg") no-repeat center center fixed;
    background-size: cover;
    height: 90vh;
 }

/*-- To space buttons in edit_tcehnologies.html  --*/

.btn-large {
    margin-bottom: 20px;
}

.btn-small {
    margin-bottom: 5px;
}



