@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Ubuntu+Mono&display=swap');

/*-- Styles across site --*/
body {
    font-family: 'Ubuntu Mono', monospace;
    background-color:#fb91db;
} 

h2 {
    font-size: 1.75rem;
}

.general-title {
    font-size: 2.5rem;
}

.flashes h4 {
    line-height: 1.5;
}

/*-- To space buttons  --*/
.btn-large {
    margin-bottom: 20px;
}

.btn-small {
    margin-bottom: 5px;
}

/*-- Home page styling --*/
.page-topper  {
    font-family: 'Press Start 2P', cursive;
    font-size: 1.75rem;
    margin: 100px 0;
}

.select-wrapper input.select-dropdown {
    font-family: 'Ubuntu Mono', monospace;
}

.dropdown-content li>span {
    color:#4a148c;
    background-color: #f3e5f5;
}

.select-dropdown li.disabled>span {
    background-color: #9b47bc;
    color: #fff;
}

/*-- Backgorund colour of sidenav to match site --*/

.sidenav {
    background-color: #f3e5f5;
}

/*-- Logo and page header font --*/
nav .brand-logo {
    font-family: 'Ubuntu Mono', monospace;
    font-size: 2rem;
    margin: 0px 25px;
}

/*-- Code snippet from https://css-tricks.com/perfect-full-page-background-image/ vendor extensions removed for this project --*/

.background-img {
    min-height: 100vh;
    background: url("../images/tapes.jpg") no-repeat center center;
    background-size: cover;
}
 
/*--  Profile page styling  --*/
#profile-name {
    font-size: 3rem;
}

/*-- Code from  https://css-tricks.com to style placeholder text --*/

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #000;
  }
  ::-moz-placeholder { /* Firefox 19+ */
    color: #000;
  }
  :-ms-input-placeholder { /* IE 10+ */
    color: #000;
  }
  :-moz-placeholder { /* Firefox 18- */
    color: #000;
  }

  .col img {
      width: 100%;
  }

/* Code from https://www.w3schools.com/ for back to top buttons */

#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 0 10px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
  }
  
  #myBtn:hover {
    background-color: #555; /* Add a dark-grey background on hover */
  }