@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Ubuntu+Mono&display=swap');

/*-- Styles across site --*/
body {
    font-family: 'Ubuntu Mono', monospace;
    background-color:#fb91db;
} 

.select-wrapper input.select-dropdown {
    font-family: 'Ubuntu Mono', monospace;
}



.flashes h4 {
    line-height: 1.5;
}

.card-panel, .card-content, .card-action {
    background-color:#f3e5f5;
}

.dropdown-content li>span {
    color:#4a148c;
    background-color: #f3e5f5;
}


.select-dropdown li.disabled>span {
    background-color: #9b47bc;
    color: #fff;
}

/*-- Backgorund colour of sidenav to match site --*/

.sidenav {
    background-color: #ff93de;
}

/*-- Logo and page header font --*/
nav .brand-logo {
    font-family: 'Ubuntu Mono', monospace;
    font-size: 2rem;
    margin: 0px 50px;
    
 
}

.page-topper  {
    font-family: 'Press Start 2P', cursive;
    font-size: 3rem;
    margin: 100px 0;
 
}


/*-- Code snippet from https://css-tricks.com/perfect-full-page-background-image/ vendor extensions removed for this project --*/

.background-img {
    min-height: 100vh;
    background: url("../images/tapes.jpg") no-repeat center center;
    background-size: cover;
}



/*-- To space buttons in edit_technologies.html  --*/

.btn-large {
    margin-bottom: 20px;
}

.btn-small {
    margin-bottom: 5px;
}
 