{% extends "base.html" %}
{% block content %}

<div class="row">
    <div class="col s12">
        <h4 class="center-align">{{ page_title }}</h4>
    </div>

    <!-- Form for logging in -->
    <form class="col s12 m8 offset-m2" method="POST" action="{{ url_for('login') }}">
        <div class="card-panel">

            <!-- Input element for username -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="material-icons prefix purple-text text-darken-3">face</i>
                    <input id="username" name="username" type="text" minlength="5" maxlength="15"
                        pattern="^[a-zA-Z0-9]{5,15}$" class="validate" required>
                    <label for="username">Username</label>
                </div>
            </div>

            <!-- Input element for password -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="material-icons prefix purple-text text-darken-3">lock</i>
                    <input id="password" name="password" type="password" minlength="5" maxlength="15"
                        pattern="^[a-zA-Z0-9]{5,15}$" class="validate" required>
                    <label for="password">Password</label>
                </div>
            </div>

            <!-- Submit button for log in -->
            <div class="row">
                <div class="center-align col s6 offset-s3">
                    <button type="submit" class="btn-large waves-effect waves-light purple lighten-1">
                        Log In<i class="material-icons right">forward</i>
                    </button>
                    <div class="col s12 ">
                        <p>If you have not yet joined us you can <a href="{{ url_for('registration') }}"
                                class="purple-text text-darken-4">Register Here</a></p>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
{% endblock %}