{% extends "base.html" %}
{% block content %}

<h1 class="center-align">{{ page_title }}</h1>

<div class="row">
    <div class="col s12 m8 offset-m2">
        <div class="card-panel">
            <h3 class="center-align">
                {{ username|capitalize }}'s Profile
            </h3>
        </div>
    </div>
</div>

<div class="row">
    <div class="col s6">
        {% if technologies|length > 0 %}
        <h4 class="heading center-align">Technologies you've added</h4>
        {% for technology in technologies %}
        <div class="card horizontal small hoverable">
            <div class="card-image">
                <img src="{{ technology.technology_image }}" alt="">
            </div>
            <div class="card-stacked">
                <div class="card-content">
                    <ul>
                        <li><strong>Category: {{ technology.category_name }}</strong></li>
                        <li>Name: {{ technology.technology_name }}</li>
                        <li>Added by you on : {{ technology.added_on }}</li>
                        
                    </ul>
                </div>
                <div class="card-action">

                    <a href="{{ url_for('edit_technology', technology_id=technology._id) }}"
                        class="waves-effect waves-light btn-small orange darken-3 aligh-right"><i
                            class="material-icons right">edit</i>Edit this technology</a>
                    <a class="waves-effect waves-light  btn-small orange darken-3 align-right modal-trigger"
                        href="#modal{{ technology._id }}"><i class="material-icons right">close</i>Delete
                        this
                        technology</a>
                </div>
            </div>
        </div>
        <!--  Delete technology modal -->
        <div id="modal{{ technology._id }}" class="modal">
            <div class="modal-content">
                <h4>Are you sure you want to delete this item?</h4>
                <p>The entire entry and all its comments will be deleted and you will not be able to retrieve
                    them
                </p>
            </div>
            <div class="modal-footer center-align">
                <a href="{{ url_for('delete_technology', technology_id=technology._id) }}"
                    class="modal-close waves-effect waves-light btn-small orange darken-3 aligh-right">Yes I am
                    certain
                    I
                    want to
                    delete this</a>
                <a href="{{ url_for('get_technologies', technology_id=technology._id) }}"
                    class="modal-close waves-effect waves-light btn-small orange darken-3 aligh-right">No,
                    return to
                    safety</a>
            </div>
        </div>

        {% endfor %}
        {% else %}
        <h4>You haven't added any technologies yet</h4>
        <a>Add one now</a>
        {% endif %}
    </div>

    <div class="col s6">
        {% if comments|length > 0 %}
        <h4 class="heading center-align">Comments you've added</h4>
        {% for comment in comments %}
        <div class="card blue-grey darken-1">
            <div class="card-content white-text">
                <span class="card-title"><strong>Category: {{ comment.technology_name }}</strong></span>
                <p>
                    <ul>

                        <li>Your comment: {{ comment.technology_comment }}</li>
                        
                        <li>Date posted: {{ comment.author }}</li>
                    </ul>
                </p>
            </div>
            <div class="card-action">
                <a href="{{ url_for('edit_comment', comment_id=comment._id) }}"
                        class="waves-effect waves-light btn-small orange darken-3 aligh-right"><i
                            class="material-icons right">edit</i>Edit this comment</a>
                    <a class="waves-effect waves-light  btn-small orange darken-3 align-right modal-trigger"
                        href="#modal{{ comment._id }}"><i class="material-icons right">close</i>Delete
                        this
                        comment</a>
            </div>
        </div>
<!--  Delete technology modal -->
<div id="modal{{ comment._id }}" class="modal">
    <div class="modal-content">
        <h4>Are you sure you want to delete this comment?</h4>
        <p>It will not be permanenetly deleted and you will not be able to retrieve it</p>
    </div>
    <div class="modal-footer center-align">
        <a href="{{ url_for('delete_comment', comment_id=comment._id) }}"
            class="modal-close waves-effect waves-light btn-small orange darken-3 aligh-right">Yes I am
            certain
            I
            want to
            delete this comment</a>
        <a href="{{ url_for('get_technologies', technology_id=technology._id) }}"
            class="modal-close waves-effect waves-light btn-small orange darken-3 aligh-right">No,
            return to
            safety</a>
    </div>
</div>

        {% endfor %}
    </div>
    {% else %}
    <h4>You haven't added any comments yet</h4>
    <a>Pick a technology to comment on</a>
    {% endif %}
    {% endblock %}