{% extends "base.html" %}


{% block content %}

<h2>You can browse all  technologies or browse  by category</h2>


 <!-- code from Materialize.com for radiobuttons to select category to browse -->
 <form action="#">
  <p>
    <label>
      <input class="with-gap" name="catogory" type="radio" checked />
      <span>All</span>
    </label>
  </p>
  {% for category in categories %}
  <p>
    <label>
      <input class="with-gap" name="category" type="radio" />
      <span>{{ category.category_name }}</span>
    </label>
  </p>
 {% endfor %}
  
</form>
      


{% for technology in technologies %}
  <div class="col s12 m7">
    <div class="card horizontal small">
      <div class="card-image">
      <img src="{{ technology.technology_image }}" alt="" >
      </div>
      <div class="card-stacked">
      <div class="card-content">
        <ul>
          <li>Category: {{ technology.category_name }}</li><br>
          <li>Name: {{ technology.technology_name }}</li>
          <li>Description: {{ technology.technology_description }}</li>
          <li>Best bits: {{ technology.best_bits }}</li>
          <li>Worst bits: {{ technology.worst_bits }}</li>
          <li>Posted by: {{ technology.posted_by }}</li>
          <li>Posted: {{ technology.post_date }}</li>
        </ul>
      </div>
      <div class="card-action">
            <a href="#">See all {{ technology.category_name}} comments</a>
      </div>
      </div>
    </div>
  </div>
{% endfor %} 




{% endblock  %}