{% extends "base.html" %}

{% block content %}

<h3 class="center-align">You can browse all our technologies or select just one</h3>

<!-- Code from Materialize.com for radiobuttons to select category to browse -->
<form action="#">
  <div class="row">
    <div class="input-field col s12">
      <i class="material-icons prefix orange-text text-darken-3">dehaze</i>
      <select id="category_name" name="category_name" class="validate" required>
        <option value="" disabled selected>Choose a category to browse</option>
        <option value="all">View all</option>
        {% for category in categories %}
        <option value="{{ category.category_name }}">{{ category.category_name }}</option>
        {% endfor %}
      </select>
      <label for="category_name">Choose a category to browse</label>
    </div>
  </div>
</form>

<!-- Code from Materialize.com for cards -->
{% for technology in technologies %}
<div class="col s12 m7">
  <div class="card horizontal small hoverable">
    <div class="card-image">
      <img src="{{ technology.technology_image }}" alt="">
    </div>
    <div class="card-stacked">
      <div class="card-content">
        <ul>
          <li><strong>Category: {{ technology.category_name }}</strong></li>
          <li>Name: {{ technology.technology_name }}</li>
          <li>Description: {{ technology.technology_description }}</li>
          <li>Best bits: {{ technology.best_bits }}</li>
          <li>Worst bits: {{ technology.worst_bits }}</li>
          <li>Added by: {{ technology.posted_by }}</li>
          <li>Posted: {{ technology.post_date }}</li>
        </ul>

      </div>
      <div class="card-action">
        <a href="#">See all {{ technology.category_name}} comments</a>
        <br>
        <a href="{{ url_for('edit_technology', technology_id=technology._id) }}" class="waves-effect waves-light btn-small orange darken-3 aligh-right"><i
            class="material-icons right">edit</i>Edit this technology</a>
        <a class="waves-effect waves-light btn-small orange darken-3 align-right"><i
            class="material-icons right">delete</i>Delete this technology</a>
           
      </div>

    </div>
  </div>
</div>
{% endfor %}

{% endblock  %}