{% extends "base.html" %}

{% block content %}

<div class="row">
  <div class="col s12">
    <h3 class="center-align">You can filter your search by keyword or category</h3>
  </div>
</div>

<!-- Code for search box  -->
<div class="row card-panel">
  <form action="{{ url_for('search') }}" method="post" class="col s12">
    <div class="row valign-wrapper center-align">
      <div class="input-field col s12">
        <i class="material-icons prefix">search</i>
        <input type="text" name="query" id="query" minlength="3" class="validate" required>
        <label for="query">Search by keyword</label>
      </div>
    </div>
    
<div class="row">
  <div class="col s12 m8">

    <!-- Code from Materialize.com for radiobuttons to select category to browse -->
    <select id="category_name" name="category_name" class="validate">
      <option value="" disabled selected>Choose a category to browse</option>
      <option value="all">View all</option>
      {% for category in categories %}
      <option value="{{ category.category_name }}">{{ category.category_name }}</option>
      {% endfor %}
    </select>
  </div>
</div>


    <div class="row">

      <!-- Search and reset buttons  -->
      <div class="col s12 center-align">

        <button type="submit" class="purple lighten-1 btn-small"><i class="material-icons right">search</i>
          Search
        </button>
        <a href="{{ url_for('get_technologies') }}" class="purple lighten-1 btn-small"><i class="material-icons right">autorenew</i>Reset</a>
      </div>
    </div>
  </form>
</div>


<!-- Code from Materialize.com for cards -->
{% for technology in technologies %}
<div class="col s12 m7">
  <div class="card horizontal medium hoverable">
    <div class="card-image">
      <img src="{{ technology.technology_image }}" alt="">
    </div>
    <div class="card-stacked">
      <div class="card-content">
        <ul>
          <li><strong>Category: {{ technology.category_name }}</strong></li>
          <li>Name: {{ technology.technology_name }}</li>
          <li>Description: {{ technology.technology_description }}</li>
          <li>Best bits: {{ technology.best_bits }}</li>
          <li>Worst bits: {{ technology.worst_bits }}</li>
          <li>Added by: {{ technology.added_by }}</li>
          <li>Date posted: {{ technology.added_on }}</li>
        </ul>

      </div>
      <div class="card-action">
        
        <a href="{{ url_for('individual_technology', technology_id=technology._id) }}" class="purple-text text-darken-4">See all the comments about {{ technology.technology_name}}s</a>
        <br>
        {% if session.user|lower == technology.posted_by|lower %}
        
        <a href="{{ url_for('edit_technology', technology_id=technology._id) }}"
          class="waves-effect waves-light btn-small purple lighten-1 aligh-right"><i
            class="material-icons right">edit</i>Edit this technology</a>
        <a class="waves-effect waves-light  btn-small purple lighten-1 align-right modal-trigger"
          href="#modal{{ technology._id }}"><i class="material-icons right">close</i>Delete this technology</a>
        {% endif %}
      </div>

    </div>
  </div>
</div>
<!--  modal -->
<div id="modal{{ technology._id }}" class="modal">
  <div class="modal-content">
    <h4>Are you sure you want to delete this item?</h4>
    <p>The entire entry and all its comments will be deleted and you will not be able to retrieve them</p>
  </div>
  <div class="modal-footer center-align">
    <a href="{{ url_for('delete_technology', technology_id=technology._id) }}"
      class="modal-close waves-effect waves-light btn-small purple lighten-1 aligh-right">Yes I am certain I want to
      delete this</a>

    <a href="{{ url_for('get_technologies', technology_id=technology._id) }}"
      class="modal-close waves-effect waves-light btn-small purple lighten-1 aligh-right">No, return to safety</a>

  </div>
</div>
{% endfor %}


{% endblock  %}